<% render 'home/options' %>

<%= render 'home/finance' %>

<div class="list-group">
	<% @entries.each do |entry| %>
  		<%= render 'home/entry', entry: entry %>
	<% end %>
</div>

<%= will_paginate @entries %>

<script type="text/javascript">
  $(".click-bait").click(function(){
    // document.getElementById("item-" + $(this).attr('id')).hide();
  });
  
</script>>